.card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
:root {
    --primary: #FF865E;
    --secondary: #231e20;
    --bg-color: #8a3ab9;
    --ad-color: #4b3869;
    --link: #f39007;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card-body {
    background: #fff;
    color: #000;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    text-align: center;
}

.card {
    border-left: 4px solid #f9b300;
    border-top: 3px solid #f9b300;
}

.btn-outline-success {
    margin-bottom: 20px;
}

.heading-popular {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline #f9b300;
    transition: font-size 0.3s ease-in-out;
}

.heading-popular:hover {
    font-size: 35px;
}


/* From Uiverse.io by cssbuttons-io */

button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    top: 10px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(43, 100%, 16%) 0%, hsl(48, 100%, 32%) 8%, hsl(34, 100%, 51%) 92%, hsl(340deg 100% 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(39, 100%, 50%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}


/* Additional styling for the card title and text */

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    color: #555;
}

.star-rating .fa {
    color: #ffd700;
    /* Gold color for stars */
}

.star-rating .checked {
    color: #ffd700;
    /* Filled star (gold) */
}

hr {
    border: 2px solid #555;
    margin-top: 30px;
}

/* Card product */

.old-product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.product-card {
    border-bottom: 2px solid #ffa200;
    border-right: 5px solid #ffa200;
}


/* General Product Card Styling */

.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    margin: 20px;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    /* Light hover effect */
}


/* Image Styling */

.product-image {
    width: 80%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.05);
    /* Zoom effect on hover */
}


/* Product Details Styling */

.product-details {
    padding: 20px;
}

.product-name {
    font-size: 1.7em;
    margin-bottom: 12px;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

.product-name:hover {
    color: #ffcc00;
    /* Yellow hover color */
}

.product-description {
    font-size: 0.95em;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
    transition: color 0.3s ease;
}

.product-description:hover {
    color: #ff6600;
    /* Orange hover color */
}


/* From Uiverse.io by satyamchaudharydev */

.btn-style {
    border: none;
    width: 140px;
    height: 50px;
    color: #fff;
    z-index: 1;
    display: flex;
    background: #ffa200;
    position: relative;
    cursor: pointer;
    border-radius: 14px;
    margin-left: 60px;
}

.btn-style p {
    margin: 0 auto;
    align-self: center;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.btn-style::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: -1;
    height: 10%;
    bottom: 0;
    clip-path: polygon( 0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    background: #ff6f00;
    transition: 0.2s ease;
    border-radius: 14px;
}

.btn-style::before {
    position: absolute;
    content: "";
    /*   bottom: 80%; */
    transform: rotate(180deg);
    width: 100%;
    height: 10%;
    transition: 0.2s ease;
    /*   bottom:; */
    z-index: -1;
    clip-path: polygon( 0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    background: #ff6f00;
    border-radius: 20px;
}

.btn-style:hover::after {
    clip-path: polygon( 0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    height: 80%;
}

.btn-style:hover::before {
    clip-path: polygon( 0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    height: 80%;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding-top: 4rem;
    border-top: 1px solid rgb(230, 227, 227);
    position: relative;
    bottom: 3rem;
    top: 30px;
   
}

footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
}

footer .social-media ul {
    display: flex;
    justify-content: flex-start;
   
    gap: 1rem;
    list-style: none;
}

footer .social-media i {
    font-size: 1.4rem;
    color: var(--secondary);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}

footer .social-media i:hover {
    color: var(--primary);
}

footer .hours h5 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--secondary);

}

footer .hours span {
    font-weight: normal;
    text-transform: lowercase;
    color: var(--secondary);
}

footer .hours h4 {
    margin: 0;
}

footer .hours hr {
    margin: 0.2rem 0 0.8rem 0;
    border: none;
    height: 2px;
    background-color: var(--link);
    max-width: 40px;
}

footer h4 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

footer li {
    margin: 0.8rem 0;
    font-size: 1.1rem;
}

footer li a {
    color: var(--secondary);
    transition: all, 0.5s ease;
    -webkit-transition: all, 0.5s ease;
    -moz-transition: all, 0.5s ease;
    -ms-transition: all, 0.5s ease;
    -o-transition: all, 0.5s ease;
}

footer li a:hover {
    color: var(--primary);
}

footer .quick-links i {
    font-size: small;
    margin-right: 0.2rem;
}

footer .our-contact li:last-child {
    display: flex;
    align-items: center;
}

footer .our-contact li:last-child i {
    font-size: 2rem;
}

footer .our-contact i {
    opacity: 0.65;
    margin-right: 0.3rem;
}

.copyright {
    margin-top: 2rem;
    padding: 1.5rem 0 1rem 0;
    background-color: var(--primary);
    color: white;
    font-weight: normal;
}

.copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright .copy {
    color: white;
}

.copyright a {
    color: white;
    font-weight: normal;
}

@media screen and (max-width: 800px) {
    footer .container {
        grid-template-columns: 1fr 1fr;
    }
    footer .our-services {
        order: -1;
    }

    footer .brand {
        order: 2;
    }
}

@media screen and (max-width: 530px) {
    footer .copyright .container {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0.2rem;
    }

    footer .copy {
        display: flex;
        gap: 0.3rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    footer .container {
        grid-template-columns: 1fr;
    }

    footer .brand {
        order: -1;
    }
}

/* End Footer */